
:root {
    --white: #ffffff;
    --black: #000000;  
    --bar-darker: #293449;
    --bar-focus: #161D29;
    --button-basic: #ee3643;
    --main-logo: #ee3643;
    --button-dark: #ba2732;
    --button-shadow: #b52933;
    --button-dark-shadow: #8e1821;
    --order-btn: #63A63E;
    --order-btn-hover: #5FBB2D;
    --background-light: #F1F5F7;
  
    --basic-title-dark: #32425C;
    --primary-bar: #32425c;
    --bar-focus: #1D2739;  
    --special-dark-red: #CA2C37;

    
    --primary-icon: #c5c5c5;
    --icon-hover: #3D546F;

    /* opacity */
    
    --white-opacity05: rgba(255, 255, 255, 0.5);


    --basic-blue-shadow: #405069;
    --basic-extra-light: #F3F7F9;
    --basic-light-yellow: #FFD180;
    --basic-green-shadow: #367315;
    --basic-yellow: #FFBF47;
    --basic-skyblue: #3BBCE3;
    --basic-light-purple: #DC91D8;
    --basic-extra-green: #8ED78F;
    --basic-beige: #F7F3EC;
    --range-bar-green: #00cb75;
    --special-dark-green: #518534;
    --special-grey: #A9A9A9;  
    --special-dark-grey: #B5B5B5;
    --special-dark-blue: #212A3A;
    --special-light-beige: #F9F5F0;
    --light-modal-button-wrap: #F4F4F4;
    --basic-dark-toggle: #ABABAB;
    --basic-scale: #D7DCDE;  
    --basic-light-border: #E5E5E5;
    --basic-article-border: #EAEAEA;
    --basic-shadow-toggle: rgba(171, 171, 171, 0.3);
    --basic-dark-shadow: rgba(0, 0, 0, 0.5);
    --basic-grey-shadow: rgba(0, 0, 0, 0.2);
    --basic-black-transparent: rgba(0, 0, 0, 0.3);
    --light-yellow-focus: rgba(255, 209, 128, 0.5);
    --special-light-focus: rgba(241, 245, 247, 0.5);
    --slider-shadow: rgba(0, 0, 0, 0.25);
    --basic-grey-button: rgba(255, 255, 255, 0.3);
    --grey-button-focus: rgba(169, 169, 169, 0.3);
    --grey-button-hover: rgba(197, 197, 197, 0.3);
  }