.features-slide__title {
  margin: 0;
  margin-bottom: 6px;
  color: var(--white);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700px;
  text-transform: uppercase;
}

.features-slide__caption {
  margin: 0;
  color: var(--white);
  font-size: 18px;
}