.header-content {
  background-color: var(--background-light);
  padding-bottom: 65px;
}

.header-content__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 46px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.header-content__description {  
  margin: 0;
  color: var(--main-logo);
  font-style: italic;
  max-width: 250px;
  margin-top: -3px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
}

.header-content__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content__phone {
  --primary-icon: #b7bfc8;
  display: block;
  padding-left: 71px;
  padding-right: 42px;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-bottom: 3px;
  text-align: center;
  font-weight: 700;
  color: var(--main-logo);
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
  position: relative;
}

.header-content__phone-icon {
  position: absolute;
  top: 10px;
  left: 36px;
  fill: var(--primary-icon);
}

.header-content__address {
  margin: 0;
  color: var(--basic-title-dark);
  font-size: 14px;
}