.new {
    position: absolute;
    width: 96px;
    height: 30px;
    top: 8px;
    right: -25px;
    padding-top: 8px;
    padding-right: 4px;
    font-family: "Cuprum", Arial, sans-serif;
    color: var(--basic-white);
    background-color: var(--basic-red);
    transform: rotate(45deg);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
    z-index: 2;
  }