.search {
  position: relative;
  display: flex;
  align-self: stretch;
  flex-grow: 1;
}

.search__input {
  padding: 0;
  padding-left: 42px;
  flex-grow: 1;
  font: inherit;
  border: none;
  background-color: transparent;
}

.search__input:hover {    
    cursor: pointer;
}

.search:hover .search__button svg {
    opacity: 1;
}

.search:focus-within .search__button svg,
.search:active .search__button svg {
    fill: var(--button-basic);
    opacity: 1;
}

.search__input:focus {
    background-color: var(--basic-white);
    cursor: text;
}

.search__input::placeholder {
    color: #ffffff;
    font: inherit;
}

.search__button {
    display: flex;
    padding: 0;
    position: absolute;
    top: 12px;
    left: 17px;
    border: none;
    background-color: transparent;
}

.search__button svg {
    fill: #ffffff;
    opacity: 0.3;
}


/*   

  
  .search:hover .search-button, .search:focus-within .search-button {
    opacity: 1;
  }
  
  .search:focus-within path {
    fill: var(--basic-red);
  }
  
  .search-input {
    font: inherit;
    color: var(--basic-white);
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    width: 271px;
    padding-left: 42px;
    padding-top: 11px;
    padding-bottom: 7px;
  }
  
  .search-input:focus {
    background-color: var(--basic-white);
    color: var(--basic-black);
  }
  
  .search-button {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    opacity: 0.3;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: inherit;
  } */