.search {
  position: relative;
  display: flex;
  align-self: stretch;
  flex-grow: 1;
}

.search__input {
  padding: 0;
  padding-left: 42px;
  flex-grow: 1;
  font: inherit;
  border: none;
  background-color: transparent;
}

.search__input:hover {    
    cursor: pointer;
}

.search:hover .search__button svg {
    opacity: 1;
}

.search:focus-within .search__button svg,
.search:active .search__button svg {
    fill: var(--button-basic);
    opacity: 1;
}

.search__input:focus {
    background-color: var(--white);
    cursor: text;
}

.search__input::placeholder {
    color: #ffffff;
    font: inherit;
}

.search__input:focus::placeholder {
  color: #ffffff;
  opacity: 0.5;
  font: inherit;
}

.search__button {
    display: flex;
    padding: 0;
    position: absolute;
    top: 12px;
    left: 17px;
    border: none;
    background-color: transparent;
}

.search__button svg {
    fill: #ffffff;
    opacity: 0.3;
}